{% extends 'layout.html' %}
{% block title %}My Page{% endblock %}
{% block head %}
{% parent %}
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
{% endblock %}
{% block content %}
    <div class="praise">
        <div class="part praise__wist"></div>
        <div class="part praise__thumb"></div>
        <div class="part praise__finger-box">
            <div class="praise__finger"></div>
            <div class="praise__finger"></div>
            <div class="praise__finger"></div>
            <div class="praise__finger"></div>
        </div>
    </div>
    <p class="num">0</p>
    
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/systemjs/0.20.18/system.js"></script>
    
    <script src="../js/index.js"></script>
{% endblock %}